.main-notice-container {
    padding: 1rem 4rem;
}

.thumb-box {
    color: black;
    padding: 2.2rem;
    margin: 2rem 5rem;
    background-color: gold;
    height: 25vh;
}

.main-board-container {
    display: flex;
    justify-content: space-around;
}
