.post {
    font-size: 1.4rem;
}

.post-title {
    border-bottom: 2px solid #fff;
    padding: 0.8rem;
}

.post-created-info-content {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
}

.post-content {
    background-color: #fff;
    color: black;
    padding: 1.5rem;
    border-radius: 15px;
    font-size: 1.2rem;
}
